# Required variables
resource_group_name = "rg-flux-aks-demo"
gitops_repo_url = "https://github.com/USER_OR_ORG/REPO_NAME.git"

## VALUES BELOW ARE DEFAULT VALUES. UNCOMMENT AND CHANGE TO OVERRIDE

# gitops_branch_name = "main"
# location = "eastus"
# cluster_dns_prefix = "fluxdemo"
# cluster_name = "cluster-flux-demo"
# cluster_sku_tier = "Free"
# tags = {}
# vnet_cidr = "172.16.0.0/16"
# vnet_name = "vnet-public-aks"
